<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="images/fav.png">
   
    <title>Meterial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="bootstrap\bootstrap-3.4.1-dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Fondamento|Lemonada|Noto+Sans|PT+Serif|Tomorrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/events.css">
    <script src="bootstrap\bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">\
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Student say links done-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=RocknRoll+One&display=swap" rel="stylesheet">
  
 <style>
   *{
    margin: 0;
    padding: 0;
}


h1 , h2 , h3 , p{
    font-family:  "Montserrat" , sans-serif, cursive
}

body{
    font-family: "Montserrat" , sans-serif, cursive;
    /* background: linear-gradient(to right, #fff , #cdc7be );  */
}

 /* #nav1{
    position: fixed;
    top: 0;
    z-index: 10;
}  */

.navbar{
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 );  
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); */
    /* background-image: linear-gradient(to right,#a517ba,#5f1782); */
 
}  

#nav1 ul{
     margin-left:70%; 
   
} 

.navbar-nav li a:hover:not(.active) {
    background-color:#f48b29;
    border-radius: 20px;
  }
  
 .navbar-nav .active {
    background-color: #f48b29;
    border-radius: 20px;
    
  }
  

.navbar-nav li{
    padding:10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: right;
}

 </style>

</head>
    <body  data-spy="scroll" data-target=".navbar" data-offset="50" style="background: linear-gradient(57deg, #00C6A7 , #1E4D92 );background-repeat: no-repeat; height:100vh">
      <section id="nav1">
         
          <nav class="navbar navbar-expand-sm fixed-top navbar-light" style="margin-top: -15px; height: 50px;"> 
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            
            <p style="color: white; padding-top:0.9%; margin-left: 1%; margin-top: 10px; font-size: 25px;">KanishkaIT</p> 
            <ul class="navbar-nav" style="margin-top: -60px; font-size: 25px;">
              <li class="nav-item">
                <a class="nav-link" href="/material">Videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bm1">Pdf</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/hom">Home</a>
              </li>
              
            </ul>
          </nav>
      </section>
  
  
  <div>
      <h1 style="font-size:35px; text-align: center; margin-top: 200px; text-transform: capitalize; font-weight: 1000; color:orange; margin-bottom: 40px; font-family: Montserrat;" >Hey <%=email%> Here we get the valuable knowledge which will help to build in your carrier and if you Want To take the company placement Exam this video as well as pdf is very helpful for you </h1>
        </div>
        </body>
</html>