<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Result</title>
    <link rel="icon"  href="images/fav.png">
   
</head>
<<body style= "background: linear-gradient(57deg, #00C6A7 , #1E4D92 );background-repeat: no-repeat; height:100vh">
    <h1 style="text-align: center; text-transform: capitalize; color: orange; font-weight: 1000; margin-top:300px; font-size:40px">congratulations <%=email%> your marks is <%=ad%> out of 5</h1>
     <h1 style="text-align: center; text-transform: capitalize; color: orange; font-weight: 1000; margin-top:50px; font-size:30px;margin-bottom: 100px;">You are Eligible to get the cartificate</h1>
     <a href="/download" style="background-color: green;color: white; margin-left: 650px; padding:10px;text-decoration: none; font-size: 25px;">download the cartificate</a>
</body>
</html>