<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
    <link rel="icon"  href="images/fav.png">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=RocknRoll+One&display=swap" rel="stylesheet">
  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
   
    </head>
<!-- <body style="background: linear-gradient(to right, #b92b27, #1565c0)"> -->
    <body style= "background: linear-gradient(57deg, #00C6A7 , #1E4D92 );background-repeat: no-repeat; height:100vh">

    <h1 style="text-align: center; font-size: 60px; color:orange; font-weight: 1000; text-transform: capitalize;font-family:Montserrat;"><%=email%> welcome to the PDF </h1>
    <h2 style="text-align: center; font-size: 30px; color:orange; font-weight: 500; text-transform: capitalize; margin-top: 40px;font-family:Montserrat;">here we can read the pdf </h2>
      
    <div class="container" style="display: flex;margin-top: 60px;">
    <div class="embed-responsive-16by9">
        <h3 style="color:white; font-weight: 500; font-size: 35px; margin-bottom: 30px;font-family:Montserrat;">Apptitute Pdf</h3>
        <a href="/k" style="text-decoration: none; background-color: green; color: white; font-size: 28px; padding: 10px;font-family:Montserrat;">Time&Work Pdf </a>
    
       </div>
       <div class="embed-responsive-16by9" style="margin-left: 23px;">
        <h3 style="color:white; font-weight: 500; font-size: 35px; margin-bottom: 30px;font-family:Montserrat;">V-reasoning Pdf</h3>
        <a href="/k1" style="text-decoration: none; background-color: green; color: white; font-size: 28px; padding: 10px;font-family:Montserrat;">Blood-Relation Pdf </a>
    
       </div>
       <div class="embed-responsive-16by9" style="margin-left: 23px;" >
        <h3 style="color:white; font-weight: 500; font-size: 35px; margin-bottom: 30px;font-family:Montserrat;">Reasoning Pdf</h3>
        <a href="/k2" style="text-decoration: none; background-color: green; color: white; font-size: 20px; padding: 14px;font-family:Montserrat;">Direction Question Pdf </a>
    
       </div>
       <div class="embed-responsive-16by9" style="margin-left: 23px;" >
        <h3 style="color:white; font-weight: 500; font-size: 35px; margin-bottom: 30px;font-family:Montserrat;">NonVerbal Pdf</h3>
        <a href="/k3" style="text-decoration: none; background-color: green; color: white; font-size: 25px; padding: 10px;font-family:Montserrat;">Number series Pdf </a>
    
       </div>
   
      
    </div>
    <h2 style="text-align: center; font-size: 30px; color:orange; font-weight: 500; text-transform: capitalize; margin-top: 60px;">here we can download the pdf </h2>
   
    <div class="container" style="display: flex;margin-top: 60px;">
        <div class="embed-responsive-16by9">
            <h3 style="color:white; font-weight: 500; font-size: 35px; margin-bottom: 30px;">Apptitute Pdf</h3>
            <a href="/k4" style="text-decoration: none; background-color: green; color: white; font-size: 28px; padding: 10px;">Time&Work Pdf </a>
        
           </div>
           <div class="embed-responsive-16by9" style="margin-left: 60px;">
            <h3 style="color:white; font-weight: 500; font-size: 35px; margin-bottom: 30px;">V-reasoning Pdf</h3>
            <a href="/k5" style="text-decoration: none; background-color: green; color: white; font-size: 28px; padding: 10px;">Blood-Relation Pdf </a>
        
           </div>
           <div class="embed-responsive-16by9" style="margin-left: 60px;" >
            <h3 style="color:white; font-weight: 500; font-size: 35px; margin-bottom: 30px;">Reasoning Pdf</h3>
            <a href="/k6" style="text-decoration: none; background-color: green; color: white; font-size: 20px; padding: 14px;">Direction Question Pdf </a>
        
           </div>
           <div class="embed-responsive-16by9" style="margin-left: 60px;" >
            <h3 style="color:white; font-weight: 500; font-size: 35px; margin-bottom: 30px;">NonVerbal Pdf</h3>
            <a href="/k7" style="text-decoration: none; background-color: green; color: white; font-size: 25px; padding: 10px;">Number series Pdf </a>
        
           </div>
       
          
        </div>
          
</body>
</html>