
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"  href="images/fav.png">
   
  <title>CSS Quiz</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=RocknRoll+One&display=swap" rel="stylesheet">
   
</head>
<body style= "background: linear-gradient(57deg, #00C6A7 , #1E4D92 );background-repeat: no-repeat; height:100vh">
  <h1 style="color:orange;text-transform: capitalize;font-weight: 1000;text-align:center;font-size: 45px;font-family:Montserrat;"> <%=ad1%> quiz</h1>
  <h3 style="text-align: center; margin-top: 30px; font-weight: 500;text-transform: capitalize; font-size: 25px;color:white;font-family:Montserrat;">the question type is multiple choice</h3>
  
  <h3 style="text-align: center; margin-top: 30px; font-weight: 500;text-transform: capitalize; font-size: 30px; color:white;font-family:Montserrat;">each questions have equal marks</h3>
  
  <!-- <h3 style="text-align: center; margin-top: 30px; font-weight: 500;text-transform: capitalize; font-size: 25px;color: white;font-family:Montserrat; ">If  you choose correct option i will give the 1 marks</h3> -->
  <ul style="text-align: center; font-size: 25px;text-transform: capitalize;padding:5px; margin-bottom: 100px;">
    <li style="list-style: none; padding: 10px; color: white;font-family:Montserrat;"><strong style="color:orange;">number of question:</strong> 5 </li>
    <li  style="list-style: none;padding: 10px;color: white;font-family:Montserrat;"><strong style="color:orange;">each question:</strong> 1 marks </li>
    <li  style="list-style: none;padding: 10px;color: white;font-family:Montserrat; "><strong style="color:orange; margin-left: 160px;">Estimated time:</strong> Each Question 20s</li>
    <li  style="list-style: none;padding: 10px;color: white;font-family:Montserrat;"><strong style="color:orange; margin-left: 20px;">questions type:</strong> multiple </li>
  
  </ul>
  <a href="/startquizc" style="background-color:#aa2ee6;color: white; margin-left: 650px; padding:10px;text-decoration: none; font-size: 25px;font-family:Montserrat; border-radius: 20px;">Start <%=ad1%> Quiz</a>

  
</body>
</html>