<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Quiz Complete</title>
    <link rel="icon"  href="images/fav.png">
   
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=RocknRoll+One&display=swap" rel="stylesheet">
 
</head>
<body style= "background: linear-gradient(57deg, #00C6A7 , #1E4D92 );background-repeat: no-repeat; height:100vh">
    <h1 style="text-transform: capitalize; color:orange; font-size: 40px; font-weight: 1000;text-align: center; margin-bottom: 200px; font-family: Montserrat;">congratulations <%=email%> your quiz is submitted successfully</h1>
    <a href="/check" style="background-color:#aa2ee6;color: white; margin-left: 650px; padding:10px;text-decoration: none; font-size: 25px;">Check Your Result</a>
    <h1 style="margin-bottom: 50px;"></h1>
    <a href="/startquiz" style="background-color:#aa2ee6;color: white; margin-left: 650px; padding:10px;text-decoration: none; font-size: 25px;">Restart Your Quiz</a>
    <h1 style="margin-bottom: 50px;"></h1>
    <a href="/hom" style="background-color:#aa2ee6;color: white; margin-left: 700px; padding:10px;text-decoration: none; font-size: 25px;">Home</a>

 

  

</body>
</html>