<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non Verbal Reasoning Videos</title>
    <link rel="icon"  href="images/fav.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=RocknRoll+One&display=swap" rel="stylesheet">
 
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
      * {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
 font-family: 'Josefin Sans', sans-serif;
 background-image:linear-gradient(black)
}

.navbar {
 font-size: 20px;
 background-image: linear-gradient(260deg, #2376ae 0%, #660477 100%);
 border: 1px solid rgba(0, 0, 0, 0.2);
 padding-bottom: 10px;
 margin-top: -20px;
}

.main-nav {
 list-style-type: none;
 display: none;
}

.nav-links,
.logo {
 text-decoration: none;
 color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
 text-align: center;
 margin: 15px auto;
}

.logo {
 display: inline-block;
 font-size: 30px;
 margin-top: 10px;
 margin-left: 20px;
}

.navbar-toggle {
 position: absolute;
 right: 20px;
 cursor: pointer;
 color: rgba(248, 246, 246, 0.8);
 font-size: 24px;
}

.active {
 display: block;
}

@media screen and (min-width: 768px) {
 .navbar {
     display: flex;
     justify-content: space-between;
     padding-bottom: 0;
     height: 70px;
     align-items: center;
 }

 .main-nav {
     display: flex;
     margin-right: 30px;
     flex-direction: row;
     justify-content: flex-end;
 }

 .main-nav li {
     margin: 0;
 }

 .nav-links {
     margin-left: 40px;
 }

 .logo {
     margin-top: 0;
 }

 .navbar-toggle {
     display: none;
 }

 .logo:hover,
 .nav-links:hover {
     color: rgba(255, 255, 255, 1);
 }
}
 </style>

    </head>
    <body style= "background: linear-gradient(57deg, #00C6A7 , #1E4D92 );background-repeat: no-repeat; height:100vh">

    <nav class="navbar" style="margin-top: 1px;">
      <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fa fa-bars"></i>
      </span>
      <a href="#" class="logo">Kanishka IT</a>
      <ul class="main-nav" id="js-menu">
        <li>
          <a href="/material" class="nav-links hype">Apptitute videos</a>
      </li>
      <li>
          <a href="/bm11" class="nav-links">Reasoning Vidoes</a>
      </li>   
      <li>
        <a href="/bm12" class="nav-links">Non Verbal Reasoning Vidoes</a>
    </li>   

    <li>
      <a href="/bm13" class="nav-links">Verbal Ability Vidoes</a>
  </li>   
  <li>
    <a href="/hom" class="nav-links">Home</a>
</li>   


  
      </ul>
  </nav>
 
<!-- <body style="background:linear-gradient(#b92b27, #1565c0);"> -->
  <h1 style="text-align: center; font-size:40px; text-transform:capitalize; color:white; font-weight:1000;font-family: Montserrat;"><%=email%> Welcome To the Online Video Tutorial </h1>
  <h4 class="text-center" style="font-weight: 1000;font-family: Montserrat;">non verbal Reasoning Videos</h4>
   
  <div class="container" style="display: flex;margin-top: 30px;">
    <div class="embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7Lj6SlVQ7Ro" allowfullscreen></iframe>
      </div>
      
      <div class="embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N2ggLVupj84 "allowfullscreen></iframe>
      </div>
      <div class="embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xkgCVc35op8 "allowfullscreen></iframe>
      </div>
      <div class="embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rRpGbF-B2Ag "allowfullscreen></iframe>
      </div>
    
    </div>
    <div class="container" style="display: flex;margin-top: 30px;">
      <div class="embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YXmGFkXozj8" allowfullscreen></iframe>
        </div>
        
        <div class="embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4SFPkpJDouw "allowfullscreen></iframe>
        </div>
        <div class="embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/16JMcZComv8 "allowfullscreen></iframe>
        </div>
        <div class="embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dHCbs-QVj_o "allowfullscreen></iframe>
        </div>
      
      </div>
      <div class="container" style="display: flex;margin-top: 30px;">
        <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YXmGFkXozj8" allowfullscreen></iframe>
          </div>
          
          <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4SFPkpJDouw "allowfullscreen></iframe>
          </div>
          <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/16JMcZComv8 "allowfullscreen></iframe>
          </div>
          <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dHCbs-QVj_o "allowfullscreen></iframe>
          </div>
        
        </div>
       
      
         
<!--      
      <h4 class="text-center" style="font-weight: 1000;">Verbal Reasoning Videos</h4>
   
      <div class="container" style="display: flex;margin-top: 30px;">
      <div class="embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K7sj1yzXzng" allowfullscreen></iframe>
        </div>
        
        <div class="embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2gQXVfPoyZ4 "allowfullscreen></iframe>
        </div>
        <div class="embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5ZUR7j1fzgk "allowfullscreen></iframe>
        </div>
        <div class="embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5ZUR7j1fzgk "allowfullscreen></iframe>
        </div>
      
      </div>
      <div class="container" style="display: flex;margin-top: 30px;">
        <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FnWRoI4Cors" allowfullscreen></iframe>
          </div>
          
          <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N-yLm3uV7Bk "allowfullscreen></iframe>
          </div>
          <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K-3RFx-KrA4 "allowfullscreen></iframe>
          </div>
          <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DbgUD1tpoHY "allowfullscreen></iframe>
          </div>
        
        </div>
       
        <h4 class="text-center" style="font-weight: 1000;">Non Verbal Reasoning Videos</h4>
   
        <div class="container" style="display: flex;margin-top: 30px;">
        <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7Lj6SlVQ7Ro" allowfullscreen></iframe>
          </div>
          
          <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N2ggLVupj84 "allowfullscreen></iframe>
          </div>
          <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xkgCVc35op8 "allowfullscreen></iframe>
          </div>
          <div class="embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rRpGbF-B2Ag "allowfullscreen></iframe>
          </div>
        
        </div>
        <div class="container" style="display: flex;margin-top: 30px;">
          <div class="embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YXmGFkXozj8" allowfullscreen></iframe>
            </div>
            
            <div class="embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4SFPkpJDouw "allowfullscreen></iframe>
            </div>
            <div class="embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/16JMcZComv8 "allowfullscreen></iframe>
            </div>
            <div class="embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dHCbs-QVj_o "allowfullscreen></iframe>
            </div>
          
          </div>
         
          <h4 class="text-center" style="font-weight: 1000;">Varbal Ability Videos</h4>
   
          <div class="container" style="display: flex;margin-top: 30px;">
          <div class="embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jknsTkV6opw" allowfullscreen></iframe>
            </div>
            
            <div class="embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iQ4QvUuHYhY "allowfullscreen></iframe>
            </div>
            <div class="embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Wt_URzW3Aho "allowfullscreen></iframe>
            </div>
            <div class="embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yBgdML-9U2o "allowfullscreen></iframe>
            </div>
          
          </div>
          <div class="container" style="display: flex;margin-top: 30px;">
            <div class="embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lTYv6XGaUec" allowfullscreen></iframe>
              </div>
              
              <div class="embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ri9sv8uIH7s "allowfullscreen></iframe>
              </div>
              <div class="embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGn8XgprHDg "allowfullscreen></iframe>
              </div>
              <div class="embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XwP8J7fWvk8 "allowfullscreen></iframe>
              </div>
            
            </div>
           
        -->
</body>
</html>